form{
  background-color: bisque;
  margin-top: 20px;
  border: palegreen 3px solid;

  text-align: center;
}
div{
  font-family: Calibri;
  buttom{
    background-color: palegreen;
  }
}
label{
  font-weight: bold;
}
select{
 font-family: "MS UI Gothic";
}


